body {
  background-color: rgb(35, 35, 36);
  position: relative;
  margin: 0;
}

button {
background-color: rgba(255,128,227,0.9);
font: 2vw Verdana, sans-serif;
color: white;
border: 0;
}

button:hover {
box-shadow: 5px 5px black;
transition: background-color .9s,color .6s,box-shadow .3s;
-webkit-transition: background-color .3s,color .15s,box-shadow .3s;
-moz-transition: background-color .3s,color .15s,box-shadow .3s;
}

.val {
  margin-top: 20vw;
  margin-bottom: 5vw;
  padding: 5vw;
  background-color: #27A30D;
  border-radius: 10%;
}

.val:hover {
background-color: #27A30D;
color: white;
filter: blur(2px);
-webkit-filter: blur(2px);
}

.val:active {
  backface-visibility: hidden;
}
.n {
  margin-bottom: 5vw;
  border-radius: 50%;
  background-color: #5498BA;
  padding: 3vw;
}

.n:hover {
  color: #5498BA;
  box-shadow:none;
  background-color: #fff;
  box-shadow:
      0 0 6px 3px #fff;  /* inner white */

}

.n:active {
box-shadow:
    0 0 10px 6px #5498BA, /* middle magenta */
    0 0 14px 9px #0ff; /* outer cyan */color: #27A30D;
}
.suppr {
  padding: 4vw;
  background-color: #D42820;
  border-radius: 10%;
}

.suppr:hover {
  color: #D42820;
  background-color: rgba(22, 23, 24,.4);;
  box-shadow: none;
}
.suppr:active {
  color:white;
  box-shadow: 0 8px 20px -6px black;
  -webkit-box-shadow: 0 8px 20px -6px black;
  -moz-box-shadow: 0 8px 20px -6px black;
 }
